<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>AirbnbApplication</display-name>
  <welcome-file-list>
    <welcome-file>HomeListings</welcome-file>
  </welcome-file-list>
   <servlet>
   		<servlet-name>FindHosts</servlet-name>
   		<servlet-class>airbnb.servlet.hosts.FindHosts</servlet-class>
   </servlet>
   <servlet>
		<servlet-name>FindListings</servlet-name>
		<servlet-class>airbnb.servlet.listings.HomeListings</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HostInsightServlet</servlet-name>
		<servlet-class>airbnb.servlet.hosts.insights.HostInsightServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListingInsightServlet</servlet-name>
		<servlet-class>airbnb.servlet.listings.insights.ListingInsightServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateHost</servlet-name>
		<servlet-class>airbnb.servlet.hosts.CreateHost</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditHosts</servlet-name>
		<servlet-class>airbnb.servlet.hosts.EditHosts</servlet-class>
	</servlet>
   <servlet-mapping>
   		<servlet-name>FindListings</servlet-name>
   		<url-pattern>/home</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   		<servlet-name>HostInsightServlet</servlet-name>
   		<url-pattern>/hostsInsights</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
   		<servlet-name>ListingInsightServlet</servlet-name>
   		<url-pattern>/listingInsights</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   		<servlet-name>FindHosts</servlet-name>
   		<url-pattern>/allHosts</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   		<servlet-name>CreateHost</servlet-name>
   		<url-pattern>/createHost</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   		<servlet-name>EditHosts</servlet-name>
   		<url-pattern>/editHost</url-pattern>
   </servlet-mapping>
</web-app>